---
import ContentSection from '../../ContentSection.astro';
import Flowchart from '../../Flowchart.astro';
import MarkingScheme from '../../shared/MarkingScheme.astro';
import { photographyGenresData, genreMarkingScheme } from '../../../data/photography-genres';
---

<ContentSection title="History of Different Genres of Photography (20 Marks)">
  <div class="space-y-6">
    <Flowchart data={photographyGenresData} />
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <h4 class="text-lg font-medium mb-2">Major Photography Genres</h4>
        <MarkingScheme items={genreMarkingScheme} />
      </div>
    </div>
  </div>
</ContentSection>