---
interface Props {
  items: Array<{
    title: string;
    marks: number;
    subitems: string[];
  }>;
}

const { items } = Astro.props;
---

<ul class="list-disc pl-6 space-y-2">
  {items.map(item => (
    <li>{item.title} ({item.marks} marks):
      <ul class="list-circle pl-6 mt-1">
        {item.subitems.map(subitem => (
          <li>{subitem}</li>
        ))}
      </ul>
    </li>
  ))}
</ul>