---
import Layout from '../layouts/Layout.astro';
import ScanningBasics from '../components/topics/ScanningBasics.astro';
import ScanningProcedure from '../components/topics/unit5/ScanningProcedure.astro';
import ImageAdjustments from '../components/topics/unit5/ImageAdjustments.astro';
import ImageEditing from '../components/topics/ImageEditing.astro';

---

<Layout title="Unit V - Digital Processing">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Unit V: Digital Processing</h1>
    <div class="space-y-12">
      <ScanningBasics />
      <ScanningProcedure />
      <ImageEditing />
      <ImageAdjustments />
    </div>
  </div>
</Layout>