---
import Layout from '../layouts/Layout.astro';
import EarlyCameras from '../components/topics/unit2/EarlyCameras.astro';
import PhotographyArt from '../components/topics/unit2/PhotographyArt.astro';
import CameraEvolution from '../components/topics/unit2/CameraEvolution.astro';
import PhotographyGenres from '../components/topics/unit2/PhotographyGenres.astro';
import CurrentTrends from '../components/topics/unit2/CurrentTrends.astro';

---

<Layout title="Unit II - Evolution of Photography">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Unit II: Evolution of Photography</h1>
    <div class="space-y-12">
      <EarlyCameras />
      <PhotographyArt />
      <CameraEvolution />
      <PhotographyGenres />
      <CurrentTrends />
    </div>
  </div>
</Layout>