---
import Layout from '../layouts/Layout.astro';
import HistoryOfPhotography from '../components/topics/unit1/HistoryOfPhotography.astro';
import CameraIntroduction from '../components/topics/unit1/CameraIntroduction.astro';
import StillCameraTypes from '../components/topics/unit1/StillCameraTypes.astro';
import CameraParts from '../components/topics/unit1/CameraParts.astro';
import CameraFunctions from '../components/topics/unit1/CameraFunctions.astro';
import OtherEquipment from '../components/topics/unit1/OtherEquipment.astro';

---

<Layout title="Unit I - Camera Basics">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Unit I: Camera Basics</h1>
    <div class="space-y-12">
      <HistoryOfPhotography />
      <CameraIntroduction />
      <StillCameraTypes />
      <CameraParts />
      <CameraFunctions />
      <OtherEquipment />
    </div>
  </div>
</Layout>