---
import Layout from '../layouts/Layout.astro';
import LightProperties from '../components/topics/LightProperties.astro';
import LightingTypes from '../components/topics/LightingTypes.astro';
import LightingTools from '../components/topics/LightingTools.astro';

---

<Layout title="Unit IV - Lighting">
  <div class="prose max-w-none">
    <h1 class="text-4xl font-bold mb-8">Unit IV: Lighting</h1>
    <LightProperties />
    <LightingTypes />
    <LightingTools />
  </div>
</Layout>